<div class="bg-light nav">
    <div class="container">
        <nav class="navbar navbar-expand-lg bg-light">
            <div class="container-fluid">
                <a class="navbar-brand" href="/"><i class="bi bi-house-door"
                        style="color: pink; size: 20px;"></i>WooneyLAB</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavDropdown">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="/">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'community:list' %}">메모장</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'dashboard:dashboard' %}">대시보드</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                                aria-expanded="false">
                                Dropdown link
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="#">Action</a></li>
                                <li><a class="dropdown-item" href="#">Another action</a></li>
                                <li><a class="dropdown-item" href="#">Something else here</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>

                <!-- 로그인 인증 -->
                <!-- flex Box  justify-content-end : 주축이 끝나는 오른쪽에 배치하기-->
                <div class="collapse navbar-collapse justify-content-end">
                    <!-- 왼쪽 점 없애기 -->
                    <ul class="navbar-nav">
                        <li class="nav-item dropdown">
                            <!-- 로그인이 완료된 경우 -->
                            {% if user.is_active %}
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                                aria-expanded="false">
                                <!-- {{ user.username }}  -->
                                <!--&ensp : 2칸띄우기 -->
                                <i class="bi bi-person-circle"></i>&ensp;{% firstof user.get_short_name user.get_username %}&ensp;
                            </a>

                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="{% url 'logout' %}">로그아웃</a></li>
                                <li><a class="dropdown-item" href="{% url 'password_change' %}">비밀번호변경</a></li>
                            </ul>
                            <!-- 로그인이 안된 경우 -->
                            {% else %}
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                                aria-expanded="false">
                                로그인/회원가입
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="{% url 'login' %}">로그인</a></li>
                                <li><a class="dropdown-item" href="{% url 'register' %}">회원가입</a></li>
                            </ul>
                            {% endif %}
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
</div>