{% extends 'partials/base.html' %}
{% load static %}
{% block list %}
<div style="text-align: center;">
    <h1>Community</h1>
</div>
{% block part_style %}
<link rel="stylesheet" href="{% static 'css/list.css' %}">
{% endblock %}

<table class="table table-hover">
    <thead>
        <tr class="text-center">
            <th scope="col">no</th>
            <th scope="col">제목</th>
            <th scope="col">이름</th>
            <!-- <th scope="col">내용</th> -->
            <th scope="col">작성 날짜</th>
        </tr>
    </thead>
    <tbody>
        {% for article in article_list %}
        <tr class="text-center">
            <th scope="row"><a href="{% url 'community:view_detail' article.id %}">{{ article.id }}</a></th>
            <td>{{article.title}}</td>
            <td>{{ article.name }}</td>
            <!-- <td>{{ article.contents }}</td> -->
            <td>{{ article.cdate|date:"Y년 M d일 D"}}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<!-- <p><a href="{% url 'community:change_list' %}">변경 가능 리스트</a>&nbsp;&nbsp;<a href="{% url 'community:write' %}">메모글 작성</a></p> -->
{% if user.is_active %}
<button type="button" class="btn btn-info"><a href="{% url 'community:change_list' %}">변경 가능 리스트</a></button>
<button type="button" class="btn btn-info"><a href="{% url 'community:write' %}">메모작성하기</a></button>
{% else %}
{% endif %}
</ul>
{% endblock list %}