{% extends 'partials/base.html' %}
{% block view_detail %}
<table>
    <tr>
        <td>no: </td>
        <td>{{ article_detail.pk }}</td>
    </tr>
    <tr>
        <td>제목: </td>
        <td>{{ article_detail.title }}</td>
    </tr>
    <tr>
        <td>저자: </td>
        <td>{{ article_detail.name }}</td>
    </tr>
    <tr>
        <td>내용: </td>
        <td>{{ article_detail.contents }}</td>
    </tr>
    <tr>
        <td>Email: </td>
        <td>{{ article_detail.email }}</td>
    </tr>
</table>
{% endblock view_detail %}
    
