<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <title>전체 List</title>
    <p>no | 이름 | 제목 | 내용 | 작성 날짜</p>
    <ul>
        {% for article in article_list %}
            <p> <a href="/view_detail/{{ article.id }}">{{article.id}}</a> | {{ article.title }} | {{ article.name }} | {{ article.contents }} | {{ article.cdate|date:"Y년 M d일 D"}} </p>
        {% endfor %}            <!-- http 경로 | 만약 article.id 변수를 지우면 주소창엔 /view_detail의 페이지만 나온다.-->
    </ul>
</body>
</html>